.login-container {
  background: #54a0ff;
  height: 100%;
}

.full-weight {
  height: 100%;
}
.image-container {
  background-color: #fff;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: #fff;
}

.example-full-width {
  width: 100%;
}
