<mat-grid-list cols="2" rowHeight="1:1" gutterSize="0">
  <mat-grid-tile>
    <form class="example-form" (ngSubmit)="logar()">
      <mat-form-field class="example-full-width">
        <input
          matInput
          id="input-username"
          placeholder="Username"
          value="Saitama"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          id="input-password"
          placeholder="Password"
          value="123"
          type="password"
        />
      </mat-form-field>
      <button mat-raised-button id="btn-submit" color="accent" type="submit">
        Login
      </button>
    </form>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<lib-form></lib-form>
