@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "src/styles/bootstrap-grid.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
